*Piutang dengan  jurnal koneksikan dan juga metode bayar



Kita kasi catatan yang belum selesai kak ya :
- cetak nota (Sudah)
- pembelian barang
- folio pada wo di hilangkan di ganti menjadi gramfus (sudah)
- di bagian nota ada fitur tambahan ketik manual untuk harga lain seperti harga Plong , Mesin , Laminating , Potong , Plat (sudah )
- opsi terhadap plat dan stock
- cetak nota dengan detail warna pekat (sudah)
- di bagian plat ada beberapa opsi yang bisa di pilih
- laporan penjualan A dan plat ada jasa (plong, laminating, potong)



tambah operator dashboard, CRUD  sudah
edit input Wo menambahkan operator cetak, potong, produksi (sudah)



__Tambahkan operator di detail penjualan

__Pembelian


/membuat relasi
            $table->foreign('id_kategori')
                ->references('id')->on('tb__kategori__barang__admin')// refrensi diambil dari id yang ada pada tb kategori
                ->onUpdate('cascade') // Jika nama kategori diubah, foreign key tetap valid
                ->onDelete('restrict');// jika ada barang maka tidak bisa dihapus;
